/*Estilos generales*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f3eadb;
}


/*Menu y header*/

.navbar-light .navbar-nav .nav-link {
    color: #b1575a;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-size: 20px;
    background-color: #f3eadb;
    color: red;
    border-radius: 10px 10px 10px 10px;
}

.container-fluid {
    background-color: #f3eadb;
    border-top: solid, 5px, #f3eadb;
    box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.425);
}

.navbar-brand {
    position: absolute;
    margin-top: 40px;
    z-index: 40;
    justify-content: center;
}

.bg-light {
    --bs-bg-opacity: none;
    background-color: #f3eadb;
}

p {
    color: #b1575a;
}

.princial {
    background-color: #f3eadb;
}

.principal__textos {
    color: #b1575a;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}


/*Nosotros*/

.nosotros {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin-top: 15px;
}

.nosotros img {
    border-radius: 15px;
    border: solid 5px #b1575a;
    max-width: 100%;
    margin: auto;
    margin-bottom: 30px;
}

.nosotros p {
    text-align: center;
    margin-right: 10px;
}

.nosotros__dos {
    margin-top: 31px;
}

.nosotros__tres {
    margin-top: 30px;
}

h3 {
    color: #b1575a;
}


/*Productos*/

.card {
    border: 3px dashed #de9b20;
    margin-bottom: 15px;
}

.botonCard {
    background-color: #835d5b;
    border-color: #835d5b;
}

.botonCard:hover {
    color: #835d5b;
    background-color: white;
    border-color: #835d5b;
}

.frutales {
    color: #fc3e20;
}

.golosinas {
    color: #91b100;
}

.personalizado {
    color: #cc4200;
}

.galeria {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: center;
    margin-top: 35px;
}

.galeria img {
    padding: 0 50px 50px;
    margin-bottom: 15px;
    border: 3px dashed #de9b20;
}


/*Para regalar*/

.contenedor {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.boxUno {
    position: relative;
    width: 250px;
    height: 300px;
    margin: 15px;
    border: 3px solid #b1575a;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #271918;
}

.boxUno img {
    transition: all 2s ease-out;
}

.boxDos {
    position: relative;
    width: 250px;
    height: 300px;
    margin: 15px;
    border: 3px solid #b1575a;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #271918;
}

.boxDos img {
    transition: all 2s ease-out;
}

.boxTexto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(131, 93, 91, 0.411);
    color: white;
    opacity: 1;
    visibility: hidden;
    text-align: center;
}

.boxTexto h3 {
    font-size: 20px;
}

.boxTexto p {
    color: whitesmoke;
    font-size: 18px;
    margin-top: 35px;
}

.boxUno:hover .boxTexto {
    opacity: 1;
    visibility: visible;
}

.boxDos:hover .boxTexto {
    opacity: 1;
    visibility: visible;
}

.botonCajas {
    background-color: #271918;
    border-color: #271918;
    color: #b1575a;
    margin-bottom: 15px;
}

.botonCajas:hover {
    background-color: #b1575a;
    color: #271918;
}


/*Pedidos*/

.formulario {
    margin-left: 10px;
    margin-right: 10px;
}

.botonForm {
    width: 70px;
    height: 60px;
    background-color: #835d5b;
    border-color: #835d5b;
    margin-bottom: 5px;
}

.botonForm:hover {
    background-color: #835d5b;
    color: white;
}

.mapa {
    margin-top: 5px;
}

.mapa p {
    font-size: 20px;
}


/*Footer*/

.footer {
    height: 100%;
    background-color: #271918;
    text-align: center;
}

.footer__textos {
    justify-content: center;
    color: white;
    text-align: center;
    text-decoration: underline;
}

.fa-facebook {
    color: white;
    margin-top: 10px;
}

.fa-facebook:hover {
    color: #835d5b;
}

.fa-instagram {
    color: white;
    margin-top: 10px;
}

.fa-instagram:hover {
    color: #835d5b;
}


/*Responsive*/


/*Responsive*/

@media (max-width: 991px) {
    .nosotros {
        grid-template-columns: 100%;
        grid-template-rows: 25%;
    }
    .nosotros p {
        text-align: center;
        margin-top: 45px;
    }
    .nosotros__dos {
        margin-top: auto;
    }
    .box__uno:hover {
        width: 50%;
    }
    .box__dos:hover {
        width: 50%;
    }
}

@media (max-width: 991px) {
    .navbar-brand {
        position: relative;
    }
}


/*Resto del Css*/

.textos {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.titulos {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    font-size: 30px;
}

h1 {
    color: #de9b20;
}

p {
    color: #b1575a;
    font-size: 18px;
}

h2 {
    color: #b1575a;
}

h3 {
    color: #b1575a;
}

.centrar {
    text-align: center;
}

.justificado {
    text-align: justify;
}

.subrayado {
    text-decoration: underline;
}