@charset "UTF-8";
/*Estilos generales*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box; }

body {
  background-color: #f3eadb; }

header {
  width: 100%; }

.titulos {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  font-size: 30px;
  margin-top: 10px; }

.centrar {
  text-align: center; }

.tachado {
  text-decoration: line-through; }

p {
  color: #b1575a;
  font-size: 18px; }

h1 {
  color: #b1575a; }

h2 {
  color: #b1575a; }

h3 {
  color: #b1575a; }

h4 {
  color: red; }

.navidad {
  color: green; }

.botonGral {
  background-color: #271918;
  border-color: #271918;
  color: #b1575a;
  margin-bottom: 15px; }
  .botonGral:hover {
    background-color: #b1575a;
    border-color: #b1575a;
    color: #271918; }

/*Menú*/
.container-fluid {
  background-color: #f3eadb;
  box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.425); }

.navbar-light .navbar-nav .nav-link {
  color: #b1575a;
  font-size: 18px; }

.navbar-light .navbar-nav .nav-link:hover {
  font-size: 20px;
  background-color: #f3eadb;
  color: red;
  border-bottom: 3px solid red;
  padding: 5px; }

.bg-light {
  --bs-bg-opacity: none;
  background-color: #f3eadb; }

.navbar-brand {
  position: absolute;
  margin-top: 40px;
  z-index: 40; }

.iconosMenu {
  margin: 0px 5px; }

.titulosNav {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  display: none; }

/*Index*/
.principalTextos {
  color: #b1575a;
  text-align: center;
  font-weight: bold;
  text-decoration: underline; }

.principalTextos-- {
  margin-top: 15px;
  font-size: 20px; }

.contenedorTestimonios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; }

.caja {
  width: 500px;
  box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.425);
  background-color: white;
  padding: 20px;
  margin: 20px;
  cursor: pointer; }

.nombreUsuario {
  color: #b1575a; }

/*footer*/
.footer {
  height: 100%;
  background-color: #271918;
  text-align: center;
  padding-bottom: 5px; }

.footer__textos {
  justify-content: center;
  color: white;
  text-align: center;
  text-decoration: underline; }

.fa-facebook {
  color: white;
  margin-top: 5px; }
  .fa-facebook:hover {
    color: #835d5b; }

.fa-instagram {
  color: white;
  margin-top: 5px; }
  .fa-instagram:hover {
    color: #835d5b; }

/*Nosotros*/
.nosotros {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%; }
  .nosotros img {
    border-radius: 15px;
    border: solid 5px #b1575a;
    max-width: 100%;
    margin: auto;
    margin-bottom: 30px; }

.nosotros__textos {
  text-align: left;
  margin-top: 15px; }

.nosotros__dos {
  margin-top: 30px;
  text-align: center; }

.nosotros__tres {
  margin-top: 30px; }

/*Productos*/
.card {
  border: 3px dashed #de9b20;
  margin-bottom: 15px; }

.frutales {
  color: #fc3e20; }

.golosinas {
  color: #91b100; }

.personalizado {
  color: #cc4200; }

.jyq {
  color: #e49d7b; }

.rucula {
  color: #9d4f3d; }

.lineas {
  background-color: #fff;
  border-top: 3px dashed #de9b20; }

/*Para regalar*/
.contenedor {
  display: flex;
  justify-content: center;
  flex-flow: row wrap; }

.boxUno {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 15px;
  border: 3px solid #b1575a;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  background-color: #271918; }
  .boxUno img {
    transition: all 2s ease-out; }

.boxDos {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 15px;
  border: 3px solid #b1575a;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  background-color: #271918; }
  .boxDos img {
    transition: all 2s ease-out; }

.boxTexto {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(131, 93, 91, 0.411);
  color: white;
  opacity: 1;
  visibility: hidden;
  text-align: center; }
  .boxTexto h3 {
    font-size: 20px; }
  .boxTexto p {
    color: whitesmoke;
    font-size: 18px;
    margin-top: 35px; }

.boxUno:hover .boxTexto {
  opacity: 1;
  visibility: visible; }

.boxDos:hover .boxTexto {
  opacity: 1;
  visibility: visible; }

/*Promociones*/
.galeria {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  justify-content: space-around;
  margin-top: 35px;
  margin-bottom: 35px; }
  .galeria img {
    padding: 0 25px 25px;
    border-radius: 5px; }

.promo {
  border: 3px dashed #de9b20;
  background-color: white;
  text-align: center; }

/*Pedidos*/
.formulario {
  margin-left: 10px;
  margin-right: 10px; }

.mapa {
  margin-top: 5px; }
  .mapa p {
    font-size: 20px; }

/*Responsive*/
@media (max-width: 991px) {
  .principal__textos {
    margin-top: 25px; }
  .navbar-brand {
    position: relative; }
  .nosotros {
    grid-template-columns: 100%;
    grid-template-rows: 25%; }
  .nosotros__textos {
    margin-top: 55px;
    margin-left: 20px;
    margin-right: 20px; }
  .nosotros__tres {
    margin: 0px 20px; }
  .box__uno:hover {
    width: 50%; }
  .box__dos:hover {
    width: 50%; }
  .promo {
    margin-bottom: 20px; }
  p {
    margin-left: 5px;
    margin-right: 5px; }
  .titulosNav {
    display: flex;
    flex-flow: row wrap;
    margin-top: 40px; }
  .principalTextos {
    display: none; }
  .principalTextos-- {
    display: block; } }
