/*footer*/

.footer {
    height: 100%;
    background-color: $fondoDos;
    text-align: center;
    padding-bottom: 5px;
}

.footer__textos {
    justify-content: center;
    color: white;
    text-align: center;
    text-decoration: underline;
}

@mixin botonesFooter {
    color: white;
    margin-top: 5px;
    &:hover {
        color: #835d5b;
    }
}

.fa-facebook {
    @include botonesFooter;
}

.fa-instagram {
    @include botonesFooter;
}