/*Index*/

.principalTextos {
    color: $colorGral;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.contenedorTestimonios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.caja {
    width: 500px;
    box-shadow: $sombra;
    background-color: white;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    ;
}

.nombreUsuario {
    color: $colorGral
}