/*Nosotros*/

.nosotros {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    img {
        border-radius: 15px;
        border: solid 5px $colorGral;
        max-width: 100%;
        margin: auto;
        margin-bottom: 30px;
    }
}

.nosotros__textos {
    text-align: left;
    margin-top: 15px;
}

.nosotros__dos {
    margin-top: 30px;
    text-align: center;
}

.nosotros__tres {
    margin-top: 30px;
}