/*Responsive*/

@media(max-width:991px) {
    .nosotros {
        grid-template-columns: 100%;
        grid-template-rows: 25%;
        p {
            text-align: center;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .nosotros__dos {
        margin-left: 10px;
        margin-right: 10px;
    }
    .box__uno:hover {
        width: 50%;
    }
    .box__dos:hover {
        width: 50%;
    }
}

@media (max-width:991px) {
    .navbar-brand {
        position: relative;
    }
}